//Var
$blue: #3ea1db;
$blue-dark: #574ae8;
$white: #fff;

$title: #313131;
$text: #b6b6b6;

$linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
//Fonts
@font-face {
    font-family: 'Inter-Medium';
    src:  url('../fontes/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    src:  url('../fontes/Inter-Regular.ttf');
}

@font-face {
    font-family: 'LexendDeca-Regular';
    src:  url('../fontes/LexendDeca-Regular.ttf');
}

//Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #e5e5e5;
}

@mixin displayAlign($display, $justify, $align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

i {
    cursor:pointer;
    padding:10px 12px 8px;
    background:#fff;
    border-radius:50%;
    display:inline-block;
    margin:0 0 15px;
    color:#aaa;
    transition:.2s;
  }
  
  i:hover {
    color:#666;
  }
  
  i:before {
    font-family:'fontawesome';
    content:'\f004';
    font-style:normal;
  }

header {
    @include displayAlign(flex, center , center);
    width: 100vw;
    height: 30vh;
    background-image: $linear;
    margin-bottom: 10vh;

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 20vh;
        max-width: 980px;

        .header-top {
            @include displayAlign(flex, space-between , center);
            width: 100vw;
            max-width: 980px;
            font-family: 'Inter-Regular';
        }

        .search {
            @include displayAlign(flex, center , center);
            flex-direction: row;
            background-color: #ffffff50;
            border: none;
            border-radius: 3px;
            height: 4.5rem;
            width: 100%;
            max-width: 980px;

            ::placeholder{
                color:#FFFFFF90;
            }

            img {
                @include displayAlign(flex, center , center);
                width: 16px;
                height: 16px;
                margin: 0 1.5rem;
            }

            .search-bar:focus{
                outline: none;
            }
            .search-bar {
                border: none;
                border-radius: 3px;
                height: 4.5rem;
                width: 100vw;
                max-width: 980px;
                background-color: transparent;
                color: white;
                outline: none;

                ::placeholder {
                    color: white;
                }
            }
        }
    }
}

main {
    @include displayAlign(flex, center , center);

    .post-section {
        max-width: 980px;

        .container {
            height: auto;
            @include displayAlign(flex, center , center);
            flex-direction: column;
            max-width: 980px;
            width: 100vw;
            background-color: white;
            padding: 2rem;
            border-radius: 3px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .top-card{
            padding:0 2rem;
            max-width: 980px;
            width: 100vw;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $title;
            font-size: 1.4rem;
            }

            h2{
                font-size: 2rem;
                padding: 1rem 0;
                align-self: flex-start;
                color: $title;
                font-family: 'Inter-Medium';
            }

            p{
                font-size: 1.4rem;
                align-self: flex-start;
                color: $text;
                font-family: 'LexendDeca-Regular';
            }

            .date, .icon{
                font-family: 'Inter-Regular';
                color: $text;
            }

            .icon{
                cursor: pointer;
                width: 16px;
                height: 16px;
                background: url("../images/heart.svg") no-repeat;
                background-position: center;
                background-size: cover;
                overflow: hidden;
                background-blend-mode: overlay;
            }
        }
    }
}

span {
    color: $white;
    font-size: 24px;
}