@font-face {
  font-family: "Inter-Medium";
  src: url("../fontes/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fontes/Inter-Regular.ttf");
}

@font-face {
  font-family: "LexendDeca-Regular";
  src: url("../fontes/LexendDeca-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgba(0, 0, 0, 0.1) url("../images/background.jpg");
  overflow-x: hidden;
}

body .background {
  width: 100%;
  min-height: 100vh;
  background-color: #00000050;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  border-radius: 500px;
  position: fixed;
  overflow: hidden;
}

.loader img {
  width: 20vw;
  border-radius: 5000px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: #181616;
  margin-bottom: 10vh;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  max-width: 980px;
  background: url("../images/Marvel.png");
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: center;
  overflow: hidden;
  background-blend-mode: overlay;
}

header .container .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 980px;
  font-family: "Inter-Regular";
}

header .container .header-top span {
  font-size: 2.4rem;
}

header .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff50;
  border: none;
  border-radius: 3px;
  height: 4.5rem;
  width: 100%;
  max-width: 980px;
}

header .container .search ::-webkit-input-placeholder {
  color: #ffffff90;
}

header .container .search :-ms-input-placeholder {
  color: #ffffff90;
}

header .container .search ::-ms-input-placeholder {
  color: #ffffff90;
}

header .container .search ::placeholder {
  color: #ffffff90;
}

header .container .search img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  margin: 0 1.5rem;
}

header .container .search .search-bar:focus {
  outline: none;
}

header .container .search .search-bar {
  border: none;
  border-radius: 3px;
  height: 4.5rem;
  width: 100vw;
  max-width: 980px;
  background-color: transparent;
  color: white;
  outline: none;
}

header .container .search .search-bar ::-webkit-input-placeholder {
  color: white;
}

header .container .search .search-bar :-ms-input-placeholder {
  color: white;
}

header .container .search .search-bar ::-ms-input-placeholder {
  color: white;
}

header .container .search .search-bar ::placeholder {
  color: white;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.blog .post-section {
  max-width: 980px;
}

.blog .post-section .card {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 980px;
  width: 100vw;
  background-color: #fffef2;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 3px solid #383838;
  border-bottom-right-radius: 10rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.blog .post-section .card .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 15rem;
  width: 15rem;
  min-width: 15rem;
}

.blog .post-section .card .content {
  padding: 0 2rem;
  width: 100%;
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.blog .post-section .card .content .top-card {
  top: 0;
  max-width: 980px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  vertical-align: top;
  color: #1f1f1f;
  font-size: 1.4rem;
}

.blog .post-section .card .content .title {
  font-size: 2rem;
  padding: 1rem 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  vertical-align: top;
  color: #1f1f1f;
  font-family: "Inter-Medium";
}

.blog .post-section .card .content .description {
  font-size: 1.4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #272727;
  font-family: "LexendDeca-Regular";
  height: auto;
  min-height: 100%;
}

.blog .post-section .card .content .date {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  font-family: "Inter-Regular";
  color: #272727;
}

span {
  color: #fff;
  font-size: 24px;
}

@media (max-width: 1050px) {
  html {
    font-size: 50%;
  }
  header {
    height: 20vh;
  }
  header .container {
    height: 15vh;
  }
  header .container .header-top {
    max-width: 80vw;
  }
  header .container .search {
    max-width: 80vw;
  }
  .blog .post-section .card {
    max-width: 80vw;
  }
  .blog .post-section .card .top-card {
    max-width: 80vw;
  }
}

.disapear {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */