//Var
$blue: #3ea1db;
$blue-dark: #574ae8;
$white: #fff;

$title: #eeeeee;
$text: #b6b6b6;

$linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
//Fonts
@font-face {
    font-family: 'Inter-Medium';
    src:  url('../fontes/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    src:  url('../fontes/Inter-Regular.ttf');
}

@font-face {
    font-family: 'LexendDeca-Regular';
    src:  url('../fontes/LexendDeca-Regular.ttf');
}

//Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    //background-color: #bebebe;
    background:rgba(0, 0, 0, 0.1) url("../images/background.jpg");
    overflow-x: hidden;
    //background-blend-mode: overlay;
    //background-size: auto 100vw;

    .background{
        width: 100%;
        min-height: 100vh;
        background-color: #00000050;
    }
}

@mixin displayAlign($display, $justify, $align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

  .loader{
    
    @include displayAlign(flex, center , center);
    width: 100vw;
      border-radius: 500px;
      position:fixed;
      overflow: hidden;
      img{
        width: 20vw;
        border-radius: 5000px;
      }
  }

header {
    @include displayAlign(flex, center , center);
    width: 100vw;
    height: 30vh;
    background-color: rgb(24, 22, 22);
    margin-bottom: 10vh;

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 20vh;
        max-width: 980px;

        background: url("../images/Marvel.png");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
    overflow: hidden;
    background-blend-mode: overlay;

        .header-top {
            @include displayAlign(flex, space-between , center);
            width: 100vw;
            max-width: 980px;
            font-family: 'Inter-Regular';

            span{
                font-size: 2.4rem;
            }
        }

        .search {
            @include displayAlign(flex, center , center);
            flex-direction: row;
            background-color: #ffffff50;
            border: none;
            border-radius: 3px;
            height: 4.5rem;
            width: 100%;
            max-width: 980px;

            ::placeholder{
                color:#FFFFFF90;
            }

            img {
                @include displayAlign(flex, center , center);
                width: 16px;
                height: 16px;
                margin: 0 1.5rem;
            }

            .search-bar:focus{
                outline: none;
            }
            .search-bar {
                border: none;
                border-radius: 3px;
                height: 4.5rem;
                width: 100vw;
                max-width: 980px;
                background-color: transparent;
                color: white;
                outline: none;

                ::placeholder {
                    color: white;
                }
            }
        }
    }
}

.blog {
    @include displayAlign(flex, center , center);
    width: 100vw;
    .post-section {
        max-width: 980px;

        .card {
            height: auto;
            @include displayAlign(flex, center , center);
            flex-direction: row;
            max-width: 980px;
            width: 100vw;
            background-color: rgb(32, 32, 32);
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 3px;
            border-top-left-radius:10rem;
            border-bottom-right-radius:10rem ;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            cursor: pointer;
            border-bottom: 1px solid rgb(112, 31, 31);
            border-top: 1px solid rgb(112, 31, 31);

            .hero-img{
                display: flex;
                justify-content: flex-start;
                align-self: flex-start;
                border-top-left-radius:8rem;
                height: 15rem;
                width: 15rem;
                min-width: 15rem;
            }

            .content{
                padding:0 2rem;
                width: 100%;
                height: 15rem;
                .top-card{
                    max-width: 980px;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $title;
                    font-size: 1.4rem;
                    }
        
                    .title{
                        font-size: 2rem;
                        padding: 1rem 0;
                        align-self: flex-start;
                        color: $title;
                        font-family: 'Inter-Medium';
                    }
        
                    .description{
                        font-size: 1.4rem;
                        align-self: flex-start;
                        color: $text;
                        font-family: 'LexendDeca-Regular';
                    }
        
                    .date, .icon{
                        font-family: 'Inter-Regular';
                        color: $text;
                    }
        
                    .icon{
                        cursor: pointer;
                        width: 16px;
                        height: 16px;
                        background: url("../images/heart.svg") no-repeat;
                        background-position: center;
                        background-size: cover;
                        overflow: hidden;
                        background-blend-mode: overlay;
                    }

            }

        }
    }
}

span {
    color: $white;
    font-size: 24px;
}


@media (max-width:1050px){
    html{
        font-size: 50%;
    }

    header{
        height: 20vh;
        .container{
            height:15vh;
        .header-top{
            max-width: 80vw;
        }
        .search{
            max-width: 80vw;
        }
        }
    }

    .blog .post-section .card{
        max-width: 80vw;

        .top-card{
            max-width: 80vw;
        }
    }

}

.disapear{
    animation: vanish 1s forwards;
}

@keyframes vanish{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}