:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;
  --title: #313131;
  --text: #b6b6b6;
  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e5e5e5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: var(--blue);
  margin-bottom: 10vh;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 13vh;
  max-width: 980px;
}

header .container .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 980px;
}

header .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff95;
  border: none;
  border-radius: 3px;
  height: 4.5rem;
  width: 100vw;
  max-width: 980px;
}

header .container .search img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  margin: 0 1.5rem;
}

header .container .search .search-bar {
  border: none;
  border-radius: 3px;
  height: 4.5rem;
  width: 100vw;
  max-width: 980px;
  background-color: transparent;
}

header .container .search .search-bar ::-webkit-input-placeholder {
  color: white;
}

header .container .search .search-bar :-ms-input-placeholder {
  color: white;
}

header .container .search .search-bar ::-ms-input-placeholder {
  color: white;
}

header .container .search .search-bar ::placeholder {
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .post-section {
  max-width: 980px;
}

main .post-section .container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 980px;
  width: 100vw;
  background-color: white;
  padding: 2rem;
  border-radius: 3px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main .post-section .container .top-card {
  padding: 0 2rem;
  max-width: 980px;
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title);
  font-size: 1.6rem;
}

main .post-section .container h2 {
  font-size: 2.2rem;
  padding: 1rem 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--title);
}

main .post-section .container p {
  font-size: 1.6rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--text);
}

main .post-section .container .date, main .post-section .container .icon {
  color: var(--text);
}

span {
  color: var(--white);
  font-size: 24px;
}
/*# sourceMappingURL=main.css.map */